
#body{
  background-color: grey;
}
#Header{
  background-color: lightblue;
  Height: 1100px;
  width: 100%;
}
#Titel{
  color: red;
}
#tabel{
  border: 3px solid;
  height: 300px;
  width: 600px;
}
#cel1{

  background-color: #FF0000;
}
#cel2{

  background-color: #505050;
}
#cel3{

  background-color: #503040;
}
#cel4{

  background-color: #00FF00;
}
#cel5{

  background-color: #500000;
}
#cel6{

  background-color: #757575;
}
#cel7{

  background-color: #FFFFFF;
}
#cel8{

  background-color: #5000FF;
}
#cel9{

  background-color: lightblue;
}
#cel10{

  background-color: green;
}
#cel11{

  background-color: #705080;
}
#cel12{

  background-color: #302010;
}
#cel13{

  background-color: #508040;
}
#cel14{

  background-color: #50FF00;
}
#cel15{

  background-color: #AA0000;
}
#cel16{

  background-color: #BB00CC;
}
#Footer{
  background-color:lightblue;
  height: 100px;
  width: 100%;
}
#footertext{
  color: #000000;
}
