body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
}


h1{
    text-align: center;
    color:coral;
}
header{
    background-color: aqua;
    color: aliceblue;
    width: 100%;
    height: 130px;
    padding: 5px;
}
a{
    color:coral;
}

.headermenu{
    display: inline-block;
    height: 25px;
    width: 100px;
    padding:5px;
    text-align: center;
    background-color: rgb(35, 205, 148);
    border-radius: 12px;
    box-shadow: 2px 4px;
}
a:hover{
    color: lightgreen;
}
#centerback{
    background-color: rgb(25, 207, 207);
    height: 580px;
    width: 100%;
    display: inline-block;
}
.centertext{
    margin-left: 100px;
}
img{
    height: 400px;
    width: 320px;
    margin-left: 150px;
}
#tabel{
    background-color: rgb(55, 140, 214);
    border-radius: 20px;
    margin-left: 100px;
    margin-right:100px;
}
.kolom1{
    text-align: center;
    width:25%;
}
.kolom2{
    text-align: center;
    width: 25%;
}
.kolom3{
    text-align: center;
    width: 25%;
}
footer{
    background-color: aqua;
    color: coral;
    display: inline-block;
    width: 100%;
    height: 80px;
    padding: 5px;
}
input[type="text"], input[type="email"], textarea, select, button{
    display: block;
    margin: 15px 0px;
    width: 400px;
    height:30px;
    box-sizing: border-box;
    border-radius: 10px; 
    box-shadow: inset 1px 2px 2px  rgb(63, 12, 201);
}
#formulier{
    margin-left: 30px;
}
textarea{
    height: 70px;
    padding: 5px;

}
button:active{
    background-color: rgb(235, 92, 92);
    color: white;
    border-radius: 4px;
    box-shadow: inset 2px 2px 5px blue;

}